// I finally solved the background-image source linking problem by moving the images folder to public folder,... 
//Here is the original post https://stackoverflow.com/questions/59464712/backgroundimage-path-for-css-from-public-folder-not-working-after-build-in-react
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500;600;700;800;900&display=swap');
// ### Primary
$Very_Dark_Magenta: hsl(300, 43%, 22%);
$Soft_Pink: hsl(333, 80%, 67%);
// ### Neutral
$Dark_Grayish_Magenta: hsl(303, 10%, 53%);
$Light_Grayish_Magenta: hsl(300, 24%, 96%);
$White: hsl(0, 0%, 100%);
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  body{
    font-family: 'Spartan';
    width:100%;
    min-height: 100vh;
    font-size: 15px;
    display: grid;
    place-items:center;
}
}
.top{
  display: flex;
  //Change later=======
  margin-bottom: 60px;


  .left{
    color: $Dark_Grayish_Magenta;
    h2{
      font-size: 35px;
      color: $Very_Dark_Magenta;
    }
  }



  .right{
    display: flex;
    flex-direction: column;


    [class ^='review-']{
      display: flex;
      background-color: $Light_Grayish_Magenta;
      margin-bottom: 12px;
      padding: 15px;
      border-radius: 5px;
      .star{}
      .text{
        color: $Very_Dark_Magenta;
        font-weight: 700;
      }
    }
  }
}



.bottom{
  display: flex;
  [class ^='CARD-']{
    background-color: $Very_Dark_Magenta;
    color: $White;
    border-radius: 10px;
    padding: 20px;

    .card-block{
      display: flex;
      img{
        border-radius: 50%;
      }
      .card-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
        .card-name{
          font-weight: 700;
        }
        .card-status{
          color: $Soft_Pink;
        }
      }
    }


    .card-text{
      margin: 20px 0;
    }
  }
}





// change media query later. now doing testing..
@media (min-width:823px){
body{
  background: url('./assets/bg-pattern-top-desktop.svg') no-repeat left top, url('./assets/bg-pattern-bottom-desktop.svg') no-repeat right bottom;
  padding: 90px;
} 
.top{
  flex-direction: row;
  .left{
    width: 30%;
    
  }



  .right{
    align-items: flex-end;
    width: 70%;


    [class ^='review-']{
      flex-direction: row;
      width: 65%;
      .star{}
      .text{
        margin: 0 10px;
      }
    }
    .review-1{
      margin-right: 70px;
    }
    .review-2{
      margin-right: 35px;
    }
  }
}



.bottom{
  flex-direction: row;
  [class ^='CARD-']{
  }
  .CARD-1{
    margin: 0 10px 140px 0;
  }
  .CARD-2{
    margin: 20px 10px 120px 0;    
  }
  .CARD-3{
    margin: 40px 0 100px 0;    
  }
}

}


@media (max-width:822px){
body{
  background: url('./assets/bg-pattern-top-mobile.svg') no-repeat left top, url('./assets/bg-pattern-bottom-mobile.svg') no-repeat right bottom;
  padding: 60px 20px;
}
.top{
  flex-direction: column;

  .left{
    text-align: center;
    h2{
      font-size: 27px;
      font-weight: 700;
    }
    p{
      margin: 30px 0;
    }
  }




  .right{
    align-items: center;


    [class ^='review-']{

      flex-direction: column;
      align-items: center;
      width: 100%;
      .star{}
      .text{
      text-align: center;
      }
    }
  }
}



.bottom{
  flex-direction: column;
  [class ^='CARD-']{
    margin-bottom: 10px;
  }
}


}