@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  body{
    font-family: 'Poppins';
    width:100%;
    min-height: 100vh;
  }
}
img{
  width: 50px;
  height: 50px;
}